.exception {
  z-index: 200;
  position: fixed;
  bottom: 65px;
  right: 15px;
  left: 15px;
  max-height: 60vh;
  pointer-events: none;
}

.exception .message {
  pointer-events: all;
}

.text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

ul.details {
  overflow: auto;
  margin-left: 0;
  padding-left: 2em;
}

.pre {
  white-space: pre-line;
  font-family: "Courier New", Consolas, monospace;
}

.tags-on-tile {
  padding: 2px;
}

.modal .hero {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
}

.column > table {
  table-layout: fixed;
}

td.is-paddingless > a {
  display: block;
  padding: .5em .75em;
}

.carousel-item {
  opacity: 0;
  transition: all 400ms 200ms ease-out;
}

.carousel-item.is-active {
  opacity: 1;
}
